

.button-eb {
  width: 30%;
}

.button-eb:hover {
  background: green
}

.selected {
  background: darkgreen;;
  border: green;
}

.validation {
  color: red;
}

#indayIdeas-display {
  display: flex;
  justify-content: flex-start;
}

.inday-card {
  width: 30%;
  text-align: center;
  margin: 5px;
}

.main-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.clickable-card-content {
  width: 50%;
  margin-bottom: 5px;
}